In [1]:
import re

Regular expression tester -- >  [REGEX101](https://regex101.com/)

### Extracting phone number from below chats

In [2]:
chat1 = 'you ask lot of questions ðŸ˜   1235678912, abc@xyz.com, (+91)-1234566789'
chat2 = 'here it is: (123)-567-8912, abc_125_ABC@xyz.com'
chat3 = 'yes, phone: 1235678912 email: Kh_123dye@xyz.io'

In [3]:
pattern = '\d{10}' 

pattern = re.findall(pattern, chat3)
pattern

['1235678912']

In [4]:
pattern = '\(\d{3}\)-\d{3}-\d{4}'

pattern = re.findall(pattern, chat2)
pattern

['(123)-567-8912']

In [5]:
# Combine both pattern to take action for possible ph number formates

f_pattern = '\d{10}|\(\d{3}\)-\d{3}-\d{4}|\(\S\d{2}\)-\d{10}'

#create def function 

def ph_number(pattern, chat):
    return re.findall(pattern, chat)

In [6]:
print(f'Phone number for Chat 1: {ph_number(f_pattern, chat1)}\nPhone number for Chat 2: {ph_number(f_pattern, chat2)}\nPhone number for Chat 3: {ph_number(f_pattern, chat3)}')

Phone number for Chat 1: ['1235678912', '(+91)-1234566789']
Phone number for Chat 2: ['(123)-567-8912']
Phone number for Chat 3: ['1235678912']

### Extracting Email_Id

In [7]:
mailcheck = '[a-zA-Z0-9_]*@[a-zA-z]*\.[a-zA-Z]*'

def mailid(pattern, chat):
    return re.findall(pattern, chat)

In [8]:
print(f'mail_id for Chat 1: {mailid(mailcheck, chat1)}\nmail_id for Chat 2: {mailid(mailcheck, chat2)}\nmail_id for Chat 3: {mailid(mailcheck, chat3)}')

mail_id for Chat 1: ['abc@xyz.com']
mail_id for Chat 2: ['abc_125_ABC@xyz.com']
mail_id for Chat 3: ['Kh_123dye@xyz.io']

### Order Number

In [9]:
chat1='Hello, I am having an issue with my order # 4128899182'
chat2='I have a problem with my order number 153327889912'
chat3='My order 71288 is having an issue, I was charged 300$ when online it says 280$'

In [10]:
o_number = 'order[^\d]*(\d*)'

def check_ordernumber(patten, chat):
    check = re.findall(patten, chat)
    return check

In [11]:
print(f'Order Number for Chat 1: {check_ordernumber(o_number, chat1)}\nOrder Number for Chat 2: {check_ordernumber(o_number, chat2)}\nOrder Number for Chat 3: {check_ordernumber(o_number, chat3)}')

Order Number for Chat 1: ['4128899182']
Order Number for Chat 2: ['153327889912']
Order Number for Chat 3: ['71288']

### Extracting Basic Personal Info

In [12]:
text = '''Born	Elon Reeve Musk
June 28, 1971 (age 50)
Pretoria, Transvaal, South Africa
Citizenship	
South Africa (1971â€“present)
Canada (1971â€“present)
United States (2002â€“present)
Education	University of Pennsylvania (BS, BA)
Title	
Founder, CEO and Chief Engineer of SpaceX
CEO and product architect of Tesla, Inc.
Founder of The Boring Company and X.com (now part of PayPal)
Co-founder of Neuralink, OpenAI, and Zip2
Spouse(s)	
Justine Wilson'''

In [13]:
pattern = 'age (\d*)'

age = re.findall(pattern, text)
age

['50']

In [14]:
pattern = 'Born(.*)'

name = re.findall(pattern, text)
name[0].strip()

'Elon Reeve Musk'

In [15]:
pattern = 'Born.*\n(.*)\(age'

birth_date = re.findall(pattern, text)
birth_date[0].strip()

'June 28, 1971'

In [16]:
pattern = '\(age.*\n(.*)'

birth_place = re.findall(pattern, text)
birth_place[0].strip()

'Pretoria, Transvaal, South Africa'

In [17]:
pattern = 'Education(.*)'

education = re.findall(pattern,  text)
education[0].strip()

'University of Pennsylvania (BS, BA)'

In [18]:
def get_pattern_info(pattern, text):
    matches = re.findall(pattern, text)
    if matches:
        return matches[0]

In [19]:
def get_persons_info(text):
    age = get_pattern_info('age (\d*)', text)
    name = get_pattern_info('Born(.*)', text)
    dob = get_pattern_info('Born.*\n(.*)\(age', text)
    birth_place = get_pattern_info('\(age.*\n(.*)', text)
    education = get_pattern_info('Education(.*)', text)
    
    return {
        'Name': name.strip(),
        'Age': int(age),
        'Date of Birth': dob.strip(),
        'Birth Place': birth_place.strip(),
        'Education': education.strip()
    }

In [20]:
get_persons_info(text)

{'Name': 'Elon Reeve Musk',
 'Age': 50,
 'Date of Birth': 'June 28, 1971',
 'Birth Place': 'Pretoria, Transvaal, South Africa',
 'Education': 'University of Pennsylvania (BS, BA)'}

In [21]:
text2 = '''Born	Mukesh Dhirubhai Ambani
19 April 1957 (age 64)
Aden, Colony of Aden
(present-day Yemen)[1][2]
Nationality	Indian
Education	St. Xavier's College, MumbaiInstitute of Chemical Technology (B.E.), Stanford University (drop-out)
Occupation	Chairman and MD, Reliance Industries
Spouse(s)	Nita Ambani â€‹(m. 1985)â€‹[3]
Children	3
Parent(s)	
Dhirubhai Ambani (father)
Kokilaben Ambani (mother)
Relatives	Anil Ambani (brother)
Tina Ambani (sister-in-law)
'''

In [22]:
get_persons_info(text2)

{'Name': 'Mukesh Dhirubhai Ambani',
 'Age': 64,
 'Date of Birth': '19 April 1957',
 'Birth Place': 'Aden, Colony of Aden',
 'Education': "St. Xavier's College, MumbaiInstitute of Chemical Technology (B.E.), Stanford University (drop-out)"}

### Extract all twitter handles from following text.

In [23]:
tw = '''
Elon musk on twitter here: https://twitter.com/elonmusk, more information 
on Tesla's products can be found at https://www.tesla.com/. Also here are leading influencers 
for tesla related news,
https://twitter.com/teslarati
https://twitter.com/dummy_tesla
https://twitter.com/dummy_2_tesla'''

In [24]:
pattern = 'https://twitter.com/([a-zA-z0-9]+)'

match = re.findall(pattern, tw)
match

['elonmusk', 'teslarati', 'dummy_tesla', 'dummy_2_tesla']

### Extract Concentration Risk Types. 

- Credit Risk

- Supply Rish

In [25]:
risk = '''
Concentration of Risk: Credit Risk
Financial instruments that potentially subject us to a concentration of credit risk consist of cash, cash equivalents, marketable securities,
restricted cash, accounts receivable, convertible note hedges, and interest rate swaps. Our cash balances are primarily invested in money market funds
or on deposit at high credit quality financial institutions in the U.S. These deposits are typically in excess of insured limits. As of September 30, 2021
and December 31, 2020, no entity represented 10% or more of our total accounts receivable balance. The risk of concentration for our convertible note
hedges and interest rate swaps is mitigated by transacting with several highly-rated multinational banks.
Concentration of Risk: Supply Risk
We are dependent on our suppliers, including single source suppliers, and the inability of these suppliers to deliver necessary components of our
products in a timely manner at prices, quality levels and volumes acceptable to us, or our inability to efficiently manage these components from these
suppliers, could have a material adverse effect on our business, prospects, financial condition and operating results.
'''

In [26]:
pattern = 'Concentration of Risk.(.*[a-zA-z*])'

match = re.findall(pattern, risk)
match

[' Credit Risk', ' Supply Risk']

### Companies in europe reports their financial numbers of semi annual basis and you can have a document like this. To exatract quarterly and semin annual period you can use a regex as shown below

In [27]:
text = '''
Tesla's gross cost of operating lease vehicles in FY2021 Q1 was $4.85 billion.
BMW's gross cost of operating vehicles in FY2021 S1 was $8 billion.'''

In [28]:
pattern = 'FY(\d{4} (?:Q[1-4]|S[1-2]))'

match = re.findall(pattern, text)
match

['2021 Q1', '2021 S1']